.container1{
	width: 20%;
	height: auto;
	margin: 0 auto;
}

.container1 img{
	width: 100%;
	height: auto;
	margin: 0 auto;
}


.img{
	width: 40%;
	height: auto;
	margin: 0 auto;
}

.img img{
	width: 100%;
	height: auto;
}

#cont {
	margin-left: 1em;
}

#cont div {
	padding: 1em 0.5em;
	margin-bottom: 2em;
	outline: 0.1em solid #E5E3F2;
	background-color: #FFFFFF;
}

.heart, .trash {
	margin: 1em;
	float: right;
}

.trash:hover {
	color: #1DA1F2;
	cursor: pointer;
}

.strike-out {
	text-decoration: line-through;
	color: #1DA1F2;
}

.red {
	color: #FC1E26;
	cursor: pointer;
}

p {
	display: inline-block;
	margin-left: 0.5em;
}